a.post {
  //box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;

  &:hover > p {
    // margin-top: -5px;
    background-color: white;
  }
}

.post {
  margin: 0 0 25px;
  display: block;

  & > figure {
    border-radius: 4px 4px 0 0;
    margin: 0;

    & > img {
      border-radius: 4px 4px 0 0;
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &:hover > .post-box {
    // margin-top: -5px;
    background-color: white;
  }

  .post-box {
    font-size: 18px;
    padding: 8px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    color: #333;
    line-height: 1.5em;
    min-height: 125px;
    text-align: center;
    transition: all 0.2s ease-in-out;

    & > h5 {
      margin-top: 15px;
      width: 100%;
      font-family: 'Dosis';
      font-weight: 700;
      color: #333;
      font-size: 21px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .post-meta-data {
    &__time {
      float: left;
    }
  }
}

.entry-content {
  max-width: 720px;
  margin: 3em auto;

  a {
    color: #167ffc;
    text-decoration: underline;
  }

  p {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Noto Serif';
    letter-spacing: 0.01rem;
    line-height: 1.75em;
    font-size: 18px;
  }

  h2 {
    font-size: 28px;
    line-height: 38px;
    font-family: 'Dosis';
    font-weight: 700;
    color: #1d2b36;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: auto;
    margin: 1.8em 0 0.8em;
  }

  blockquote {
    margin: 35px 0;
    padding: 5px 0 5px 18px;
    padding-left: 21px;
    border-left: 3px solid #222;
    font-size: 19px;
    line-height: 29px;
    font-style: italic;
    -webkit-font-smoothing: antialiased;

    p {
      margin: 0;
    }
  }

  li {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Noto Serif';
    letter-spacing: 0.01rem;
    line-height: 70px;
    font-size: 18px;
    list-style: none;
    position: relative;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 20px;

    &::before {
      content: '';
      height: 80px;
      width: 40px;
      position: absolute;
      background-repeat: no-repeat;
      left: -50px;
      top: -10px;
      background-image: url('../images/starbs_icon.svg');
      background-size: contain;
    }
  }
}

.featured {
  margin-bottom: 30px;

  .featured-article-tag {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 8px 0;
    font-family: 'Montserrat';
    font-weight: 500;
  }

  .featured-header {
    width: 100%;
    border-radius: 4px;
    position: inherit;
  }
}

.featured-header {
  position: relative;
  text-align: center;
  background-size: 562px 315px;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100vw;
  left: calc(-50vw + 49.25%);

  header {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-title {
    padding: 3.5em 0 21em;
  }

  h1 {
    font-family: Dosis;
    font-weight: 700;
    color: white;
    line-height: 1.3em;
    font-size: 3rem;
  }

  .post-meta {
    color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 8px 0;
    font-family: 'Montserrat';
    font-weight: 500;
  }
}

.comments {
  max-width: 720px;
  margin: 3em auto;

  h2,
  h3 {
    font-family: Dosis;
    font-weight: 700;
  }
}

ol.comment-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0;

  li.comment {
    border: 1px solid #ddd;
    padding: 1em;

    div.vcard {
      font-weight: 14px;
    }  // end .vcard

    div.comment-meta {
      font-size: 11px;

      a {
        color: #ccc;
      } // end a
    } // end div.comment-meta

    ul {
      font-size: 12px;
      list-style: none;
      margin: 0 0 0 20px;
    } // end ul

    div.reply {
      font-size: 11px;

      a {
        font-weight: bold;
      } // end a
    } // end reply

    ul.children {
      list-style: none;
      margin: 12px;
      text-indent: 0;

      li.depth-2 {
        border-left: 5px solid #ccc;
        margin: 0 0 10px 10px;
      }

      li.depth-3 {
        border-left: 5px solid #bbb;
        margin: 0 0 10px 10px;
      }

      li.depth-4 {
        border-left: 5px solid #aaa;
        margin: 0 0 10px 10px;
      }
    }  // end ul.children
  }  // end li.comment

  li.even {
    background: #fff;
  }

  li.odd {
    background: rgba(150, 114, 255, 0.4);
  }

  li.parent {
    border-left: 5px solid #ddd;
  }
}
